services:
  kafka_exporter:
    image: danielqsj/kafka-exporter:v1.9.0
    container_name: kafka_exporter
    command:
      - --kafka.server=kafka:9092
    ports:
      - "9308"
    restart: unless-stopped
    networks:
      - ai_bridge_network

networks:
  ai_bridge_network:
    external: true
