services:
  kafka_exporter:
    image: {{ images.kafka_exporter }}
    container_name: kafka_exporter
    command:
      - --kafka.server=kafka:9092
    ports:
      - "9308"
    restart: unless-stopped
    networks:
      - {{ network_name }}

networks:
  {{ network_name }}:
    external: true
