services:
  grafana:
    image: {{ images.grafana }}
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - {{ volumes.grafana }}:/var/lib/grafana
      - ./provisioning:/etc/grafana/provisioning:ro
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - {{ network_name }}

networks:
  {{ network_name }}:
    external: true

volumes:
  {{ volumes.grafana }}:
