services:
  prometheus:
    image: {{ images.prometheus }}
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - {{ volumes.prometheus }}:/prometheus
    ports:
      - "9090:9090"
    restart: unless-stopped
    networks:
      - {{ network_name }}

networks:
  {{ network_name }}:
    external: true

volumes:
  {{ volumes.prometheus }}:

